<a class="btn btn-primary" style="margin-right: 5%" asp-controller="Account" asp-action="RegisterTeacher">Зарегистрироваться как учитель</a>
<a class="btn btn-primary" style="margin-right: 5%" asp-controller="Account" asp-action="RegisterClient">Зарегистрироваться как клиент</a>